force-app/main/default/flows/Update_OTP_and_OTP_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_OTP</name>
        <label>Generate OTP</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>OTPGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_OTP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_OTP</name>
        <label>Assign OTP</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varOtpRecord.OTP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_OTP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOtpRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOtpRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update OTP and OTP records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update OTP and OTP records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>varOtpRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_OTP</targetReference>
        </connector>
        <object>OTP__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOtpRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OTP__c</objectType>
    </variables>
</Flow>
